#root {
    display: flex;
    flex-wrap: wrap;
    font-family: Arial, Helvetica, sans-serif;
    color: rgb(57, 53, 53);
}

.wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 20px;
    width: 270px;
    height: 400px;
    background-color: rgba(255, 243, 229, 0.852);
    border-radius: 10px;
    box-sizing: border-box;
    box-shadow: 5px 5px 5px rgba(173, 128, 128, 0.214);
}

.active {
    border: 3px solid rgba(255, 0, 0, 0.355);
    background-color:  rgba(244, 216, 185, 0.632);
    
}

.none-active {
    border: none;
}

.img { 
    width: 130px;
    height: 130px;
    border-radius: 50%;
    object-fit: cover;
    box-shadow: 10px 10px 10px rgba(173, 128, 128, 0.353);
}

.fullName {
    font-size: 30px;
}

.text {
    font-size: 20px;
}

.btn {
    background-color: rgba(208, 133, 168, 0.279);
    border-color: rgba(208, 133, 168, 0.279);
    border-radius: 5px;
    font-size: 16px;
    padding: 8px 25px;
    box-shadow: 5px 5px 5px rgba(173, 128, 128, 0.214);
    margin: 25px;
}